@charset "utf-8";
@font-face{ font-family:'myFont'; src: url('../../../assets/font/RTWSShangYaDemo-Regular.otf'); }
/*Nav*/
#Nav{
    background-color: #f0e7e1;
}

#Nav .tit{
    position: absolute; width: 615px; height: 60px;
    left: 654px; top:50px;
    background: url("../../../assets/img/nav/tit.png")
}

#Nav .btn{
    position: absolute; width: 360px; height: 340px;
}
#Nav .btn img{
    opacity: 0;
}

#Nav .btn1{ top:212px; left: 160px; background: url("../../../assets/img/nav/btn1x.png") no-repeat}
#Nav .btn2{ top:212px; left: 573px; background: url("../../../assets/img/nav/btn2x.png") no-repeat}
#Nav .btn3{ top:212px; left: 987px; background: url("../../../assets/img/nav/btn3x.png") no-repeat}
#Nav .btn4{ top:212px; left: 1400px; background: url("../../../assets/img/nav/btn4x.png") no-repeat}
#Nav .btn5{ top:602px; left: 366px; background: url("../../../assets/img/nav/btn5x.png") no-repeat}
#Nav .btn6{ top:602px; left: 779px; background: url("../../../assets/img/nav/btn6x.png") no-repeat}
#Nav .btn7{ top:602px; left: 1192px; background: url("../../../assets/img/nav/btn7x.png") no-repeat}

/*Public*/
._back{
    position: absolute; width: 100px; height: 42px;
    left: 1760px; top:850px;
    background: url("../../../assets/img/back.png")
}
.Head{
    position: absolute;
    width: 1600px; height: 160px;
    left: 160px; top: -20px;
    z-index: 90;
    background-color: #f0e7e1
}