@charset "utf-8";


/*Page2*/
#Page2{
    background-color: inherit;
}
#Page2 .tit{
    position: absolute;
    left: 684px; top:50px;
    z-index: 999
}
#HBox2{
    position: absolute;
    width: 1600px; height: 800px; overflow: inherit !important;
    left: 160px; top: 140px;
}
#HBox2 .box{
    position: relative;
    width: 1600px; height: 800px;
    left: 0px; top: 0px;
    /*margin-bottom: -80px;*/
    background: url("../../../assets/img/hbox.png") no-repeat;
}
#HBox2 .box .tit{
    position: absolute;
    width: 250px; height: 60px;
    left: 677px; top: 71px;
    font-size: 50px; color: #6f573e;
    line-height: 60px; text-align: center;
    font-family:"myFont";
}
#HBox2 .box .tit span{
    font-size: 54px;
    font-family:"myFont";
}
#HBoxMenu2{
    position: absolute;
    width: 100px;
    left: 1760px; top: 240px;
    overflow: hidden;
}
#HBoxMenu2 .tit{
    width: 100px; height: 50px;
    background: url("../../../assets/img/menu_tit.png") no-repeat;
}
#HBoxMenu2 .box{
    width: 100px; height: 40px;
    background: url("../../../assets/img/menu_box.png") no-repeat;
    font-size: 18px; color: #fff;
    text-align: center; line-height: 40px;
}
#HBoxMenu2 .box.act{
    width: 100px; height: 40px;
    background: url("../../../assets/img/menu_act.png") no-repeat;
}
#HBoxMenu2 .bot{
    width: 100px; height: 40px;
    background: url("../../../assets/img/menu_bot.png") no-repeat;
}
#Page2 .DBList{
    position: absolute;
    width: 1405px; height: 620px;
    left: 100px; top: 135px;
}
#Page2 .DBList .swiper-slide_list {
    text-align: center;
    font-size: 18px;
    width:100%; height: 100%;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
#Page2 .swiper-pagination-box{
    position: relative;
    top: 740px;
    width: 1600px; text-align: center;
}
#Page2 .swiper-pagination-box .swiper-pagination-bullet{
    background-color: #6f573e!important; width: 8px!important; height: 8px!important;
    border-radius:0px !important; margin-right: 10px!important;
}
#Page2 ._yearBox .pre{
    position: absolute;
    top: 81px; left: 1417px;
    width: 40px; height: 40px;
}
#Page2 ._yearBox .next{
    position: absolute;
    top: 81px; left: 1460px;
    width: 40px; height: 40px;
}

#Page2 ._boxs .boxs_photo{
    position: absolute;
    left: 4px; top: 4px;
    width: 192px; height: 192px;
    overflow: hidden;
}
#Page2 ._boxs .boxs_tit{
    position: absolute;
    left: 229px; top: 0px;
    width: 436px; height: 106px;
    font-size: 24px; color: #dc5750;
    text-align: left;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

}
#Page2 ._boxs .boxs_desc{
    position: absolute;
    left: 229px; top: 116px;
    width: 436px; height: 86px;
    font-size: 16px; color: #666;
    text-align: left;
    overflow: hidden;
}
#Page2 ._boxs .pot1{
    position: absolute;
    left: 170px; top: 170px;
    width: 20px; height: 20px;
    background: url("../../../assets/img/pot1.png") no-repeat;
}

#Page2 .imgMark{
    position: absolute;
    left: 0px; top: 66px;
    width: 501px; height: 501px;
    border-radius: 50%;
    overflow: hidden;
}
#Page2 .imgMark img{
    height: 501px;
}
#Page2 .word{
    position: absolute;
    left: 578px; top: 51px;
    width: 800px; height: 457px;
}
#Page2 .word .swiper-container {
    width: 100%;
    height: 100%;
}
#Page2 .word .swiper-slide {
    text-align: left;
    color: #666666;
    font-size: 17px;
    line-height: 35px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 50px;
}

#Page2 ._Page2_Swiper_Titles{
    position: absolute;
    left: 680px; top: 660px;
    width: 800px; height: 80px;
    overflow: hidden;
    /*border-bottom: 1px solid #D6CDB9;*/
}
#Page2 ._Page2_Swiper_Titles ul{
    position: absolute;
    top: 0; left: 300px;
    display: block;
    height: 80px; width: 6000px;
    z-index: 1;
    transition: margin-left 0.2s;
}
#Page2 ._Page2_Swiper_Titles .line{
    position: absolute;
    left: 0px; top: 53px;
    width: 800px; height: 1px;
    border-bottom: 1px solid #D6CDB9;
}
#Page2 ._Page2_Swiper_Titles li{
    float: left; text-align: center;
    position: relative;
    width: 150px; height: 80px;
}
#Page2 ._Page2_Swiper_Titles li span{
    position: relative; top: 15px;
    font-size: 18px; color: #6f573e;
}
#Page2 ._Page2_Swiper_Titles li .pot{
    position: absolute;
    left: 69px; top: 49px;
    width: 12px; height: 12px;
    border-radius: 50%;
    background-color: #D6CDB9;
}
#Page2 ._Page2_Swiper_Titles li.act span{
    color: #dc5750;
}
#Page2 ._Page2_Swiper_Titles li.act .pot{
    background-color: #dc5750;
}